/* Movile responsive css ( 600px an down) */
@media screen and (max-width:600px) {
    nav{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
    .find-now-layer input, .find-now-layer select, .find-now-layer button{
        width: 100%;
    }
    .find-now-layer input{
        width: 95%;
    }
    .find-now-layer select, .find-now-layer button{
        margin-top:1rem;
    }
    .f-4{
        font-size: 1.4rem;
        
    }
    .banner-content{
        position: relative;
    }
    .banner-des{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .find-now{
        min-width: 0;
    }
    .find-now-layer{
        width: 80%;
    }
    .banner > img{
        object-fit: cover;
        min-height: 70vh;
    }
    
    /* Popular tour section  */
    .popular-tour{
        flex-direction: column;
    }

}